/* @group General Styles */

/* @group Reset */

/* Taken from Mr. Eric Meyer // v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end Reset*/


/* @group Grid */

/* 960Grid System http://960.gs */

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/
.container_12,.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}.container_12 .grid_3,.container_16 .grid_4{width:220px}.container_12 .grid_6,.container_16 .grid_8{width:460px}.container_12 .grid_9,.container_16 .grid_12{width:700px}.container_12 .grid_12,.container_16 .grid_16{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_12 .prefix_3,.container_16 .prefix_4{padding-left:240px}.container_12 .prefix_6,.container_16 .prefix_8{padding-left:480px}.container_12 .prefix_9,.container_16 .prefix_12{padding-left:720px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_12 .suffix_3,.container_16 .suffix_4{padding-right:240px}.container_12 .suffix_6,.container_16 .suffix_8{padding-right:480px}.container_12 .suffix_9,.container_16 .suffix_12{padding-right:720px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_12 .push_3,.container_16 .push_4{left:240px}.container_12 .push_6,.container_16 .push_8{left:480px}.container_12 .push_9,.container_16 .push_12{left:720px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_12 .pull_3,.container_16 .pull_4{left:-240px}.container_12 .pull_6,.container_16 .pull_8{left:-480px}.container_12 .pull_9,.container_16 .pull_12{left:-720px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}/*.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}*/.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

/* @end Grid*/



/* @group Body Styles */

body{	
	font-family: Arial, sans-serif; 
	color: #333; 
	font-size: 10px;
	line-height: 1;	
	background-color: #1c1c1c; 
}

/* @end Body Styles*/


/*@group Links*/

a:link{	
	text-decoration: none;	
	color: #0072bc;
}

a:active{	}

a:visited{	
	text-decoration: none; 
	color: #0072bc; 
}

a:hover{ 
	text-decoration: none;	
	color: #288aca;
}

/* @end Links*/


/*@group Headings*/

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6{ 
	font-weight:normal; 
	line-height: 1.5em  
}

h1{	
	font-size: 24px; 
}

h2{ 
	font-size: 21px;
}
	
h3, .h3{
	font-size: 18px; 
}

h4, .h4{ 
	font-size: 16px;
}

h5, .h5{ 
	font-size: 14px;
}

h6, .h6{ 
	font-size: 11px;
	text-transform: uppercase; 
	font-weight: bold; 
	letter-spacing:0.1em;
}

/* @end Headings*/



/* @group Tables */



/* @group Base */

table.data{
	border-spacing:0;
	margin:1em 0 1em;
	padding:0.5em 0;
	width: 100%;
	font-size: 12px;
}

table.data td{
	padding: 7px;
	border-bottom: 1px dotted #dfdfdf;
}


table.data td p{
	margin: 0;	
}

/* @end Base*/

/* @group THead */

table.data tr.controls th{
	background-color: #fbfbfb;
	padding: 5px;
	vertical-align: bottom;
	border-width: 1px;
	border-style: solid;
	border-color: #DFDFDF #DFDFDF #BFBFBF;
}

table.data form{
	margin: 0;
	padding: 0;
}

table.data .checkBox{
	margin: 0 5px;	
}

table.data input.txtBox{
	margin:3px 0 0 10px;
	padding: 4px;
}

thead .selectWrap{
	height:23px;
	margin:1px 15px 0 0;
	padding:3px 0;
}
/* still digging into this safari rendering issue! #darn-hack */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	table.data thead .selectWrap{		
		position: relative;
		top:2px;
	}
}

table.data label{
	font-weight: normal;
	margin: 0 7px 0 0;
	color: #666;
	font-size: 11px;
}

table.data .selectBox{
	margin: 0;
	width: 120px;
}

table.data .selectBox.medium{
	width: 200px;	
}


table.data .threeFilters .selectBox{  
	width: 105px;
}

table.data .threeFilters .selectWrap{ 
	margin-right: 15px;
}

table.data .omega,
table.data .threeFilters .omega{
	margin-right: 0;
}


table.data h5{
	padding: 7px 0 0 5px;
	color:#1c1c1c;
	line-height: 1;
}

table.data tr.dataHeader th.alpha{
	border-left: 1px solid #dfdfdf;
}

table.data tr.dataHeader th.omega{
	border-right: 1px solid #dfdfdf;
}

table.data td .actions{ padding: 0; }

table.data tr.dataHeader th{
	background-color:#f0f0f0;
	height: 36px;
	vertical-align:middle;
	padding: 0 5px;
	border-bottom: 1px solid #dfdfdf;
}

/* @end THead*/


/* @group TFoot */

table.data .tFoot td{
	padding: 0;
	border: none;
}

table.data .tFoot .pagination{
	margin: 20px 0 0 0;
	height: auto;
}

table.data .tFoot label{
	color: #333;	
}

table.data .tFoot .selectBox{
	width: auto;
}

/* @end TFoot */


table.data td.border-none{ 
	border: none;
}


/* @end Tables*/


/* @group Lists */

ol{
	list-style-type: decimal;
}

ul, ol {
	margin:0 1.7em 1.5em;
}

ul li, ol li{ font-size: 12px; margin: .5em 0 .7em; }

li p, dt p, dd p{
	margin: 0;
}

li ul, li ol {
	margin:0 1.7em;
}

dl{
	margin:0 0 1.7em;
}

dl dd{
	margin-left:1.7em;
}

dl dt{
	font-weight: bold;
}

ul ul, ol ol, ol ul, ul ol {
	margin-bottom: 0;
}


.disc{
	list-style-type: disc;	
}	

/* @end Lists*/




/* @group Forms */

form{
	margin: 10px 0 20px;
}

.required{	
	color: red; 
}

form .item{
	/*padding-bottom: 20px;*/
	padding:10px 0;
}

form.withCues .item{ padding: 10px; }

form .item.active{ 
	background-color: #ffffcc;
}

form .item.first{
	padding-top: 20px;
}


form .item p{
	margin: 5px 0;
}


form .short{
	width: 208px;
}

form.withCues .short{
	width: 200px;
}


form .shortest{
	width: 158px;
}

select.short{
	width: 220px;
}

form.withCues select.short{
	width: 212px;
}


select.shortest{
	width: 168px;	
}

form .long{
	width: 448px;
}

form.withCues .long{
	width: 433px;
}


select.long{
	width: 460px;
}

form.withCues select.long{
	width: 445px;
}

form .extraLong{
	width: 688px;
}

form.withCues .extraLong{
	width: 668px;
}

form.withCues .indent .extraLong{ 
	width: 638px;
}

input.txtBox, textarea{
	padding: 5px;
}

select{
	padding: 2px 0;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.selectBox{
	margin: 5px 0;
}

/*select.selectBox*/
input.txtBox,
textarea.txtArea,
input.fileBox{ 
	margin: 0.5em 0;	
	font-family: Arial, sans-serif;
	font-size: 12px;
}

input.txtBox,
textarea.txtArea{ 
	border: 1px solid #bfbfbf;
}


input.txtBox:focus,
.txtArea:focus{
	border-color: #666;
}

form .radio .details,
form .checkBox .details{ margin-top: 3px; }

form .radio .indent,
form .checkBox .indent,
form .check .indent{ padding-left: 20px; }

form .item .indentedItem{ padding-top: 7px; padding-bottom: 10px;}

form .radio, 
form .check{
	font-size: 12px;
	margin: 5px 0;
}

form .radio label, 
form .check label{
	font-weight: normal;
	margin: 0;
	font-size: 11px;
}


form .radioBtn, 
form .checkBox{
	position: relative;
	top: 0px;
	margin-left: 0;
	margin-bottom: 0;
}

form .actions{
	padding: 10px 0px;
}

textarea{
	line-height: 1.6em;
	height: 200px;
}

/* @end Forms */

/*@group Other Elements & Tags*/

p, dt{
	line-height: 1.5em;
	font-size: 12px;	
}

p{
	margin: 10px 0 15px;
}

del{
	color: #888;
}

em, dfn, .em {
	font-style: italic;	
}

dfn{
	font-weight: bold;
}

label{
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 10px;
}

strong, .strong{
	font-weight: bold;
}

address{
	font-style: normal;
	font-size: 12px;
	line-height: 1.5em;
}

/* @end group Other Elements & Tags */


/* @end General Styles*/

/*@group Helper Styles */



/* @group Notices & Status */

/* @group Status Labels */

.status{
	font-weight: bold;	
}

/*.positive{
	color: #8bbf33;
}

.negative{
	color: #cd5b58;
}*/

/* @end Status Labels */

/* @group Status Background */

.errorBackground{
	background-color: #ffe2e6;
}

.noticeBackground{
	background-color: #ffffe1;
}

.successBackground{
	background-color: #e8fde0;
}

/* @end Status Background */

.dataMeter{
	margin: 0;
}

.notice .head{ 
	padding-bottom: 5px;
}

.error, .notice, .success{
	border:1px solid #dfdfdf;
	margin-bottom:10px;
	padding:7px;
}

.error .hasIcon, .notice .hasIcon, .success .hasIcon{
	padding: 1px 0 0 25px;
	margin: 0;
}

.notice p, .error p, .success p{
	margin: 0;
}

.error,
.dataMeter .negative,
.negative,
.dataMeter .counter.negative{
	color: #943232;
}

.error,
.dataMeter .counter.negative,
.verificationNotice .statusLabel.negative{
	border-color: #ecbbc1;
	background-color: #ffe2e6;	
}

.notice{
	border-color: #ebe692;
	background-color: #ffffef;
	color: #333;
}

.success, 
.dataMeter .positive,
.positive,
.dataMeter .counter.positive{
	color: #34a93c;	
}

.success,
.dataMeter .counter.positive,
.verificationNotice .statusLabel.positive{
	border-color: #b4e0a3;
	background-color: #e8fde0;
}


form .item.errorItem{ background: #FFE5E9 url(/images/clientapp/exclamationSpaced.png) no-repeat top right; margin: 5px 0;}


/* @end Notices & Status*/

/* @group Data Meter */

.dataMeter .head p{
	font-size: 11px;
}

.dataMeter ul{
	margin: 10px 0;
}

.dataMeter li{
	margin-right: 10px;
}

.dataMeter ul.threeCol li{	
	width: 32%;
}

.dataMeter ul.twoCol li{
	width: 49%;
}


.dataMeter ul li.rowLast{
	margin-right: 0;
}

/*shared by verification notice*/
.dataMeter .counter, .verificationNotice .statusLabel{
	width: 48px;
	padding: 13px 0;
	height: 14px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #efefef;
}

.dataMeter li p{
	padding-left: 5em;
}

/* @end Data Meter */

/* @group List Actions */

.actions{
	margin: 10px 0 0;
}

.actions a{
	font-size: 11px;
	margin-right: 20px;
}

.actions .omega{
	margin-right: 0px;
}

/* @end List Actions*/

/* @group Buttons */

/* @group Button Base */

button, a.anchorBtn { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
	font-family: Arial, sans-serif; 
	text-align: center;
}

/* overrides extra padding in Firefox */
button::-moz-focus-inner {
	border: none;  
}

button span,
a.anchorBtn span{ 
	position: relative;
	display: block; 
	white-space: nowrap;	
	color: #000;
	line-height:1;
}

/* Safari and Google Chrome only - fix margins */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	button span {
		margin-top: -1px;
	}
}

button.large.emphasize span, 
button.small.emphasize span,
a.anchorBtn.large.emphasize span,
a.anchorBtn.small.emphasize span{
	color: #0072bc;
}

button.large.emphasize:hover span,
button.small.emphasize:hover span,
a.anchorBtn.large.emphasize:hover span,
a.anchorBtn.small.emphasize:hover span{
	color: #288ACA;
}

/* @end Button Base*/

/* @group Small Button Skin */

/* @group Base */

button.small,
a.anchorBtn.small{
	font-size:11px;
	font-weight:normal;
	margin-right:2px;
	padding:0 10px 0 0;
}

button.small span,
a.anchorBtn.small span{
	height:12px;
	padding:9px 0 9px 10px;
}

/* the redundant class is used to apply the hover state with a script */
button.small:hover,
a.anchorBtn.small:hover,
button.smallHover { 
	background-position: right -182px; 
	color: #666;
}
	
button.small:hover span,
a.anchorBtn.small:hover span, 
button.smallHover span {
	background-position: 0 -56px;
	color: #666;
}

button.small:active,
a.anchorBtn.small:active,
button.smallActive,
button.large:active,
a.anchorBtn.large:active,
button.largeActive {  
	position: relative;
	top: 1px;
}
	

/* @end Base*/

/* @group Blue */

button.blueSmall,
a.anchorBtn.blueSmall{  
	background: transparent url(/images/clientapp/button_liteblue_small.gif) no-repeat scroll right -110px;
}

button.blueSmall span,
a.anchorBtn.blueSmall span {
	background: transparent url(/images/clientapp/button_liteblue_small.gif) no-repeat left top; 
}

/* @end Blue*/

/* @group Black */

button.blackSmall,
a.anchorBtn.blackSmall{  
	background: transparent url(/images/clientapp/button_black_small.gif) no-repeat scroll right -110px;
}

button.blackSmall span,
a.anchorBtn.blackSmall span {
	background: transparent url(/images/clientapp/button_black_small.gif) no-repeat left top; 
}

/* @end Black*/

/* @group White */

button.whiteSmall,
a.anchorBtn.whiteSmall{  
	background: transparent url(/images/clientapp/button_white_small.gif) no-repeat scroll right -110px;
}

button.whiteSmall span,
a.anchorBtn.whiteSmall span {
	background: transparent url(/images/clientapp/button_white_small.gif) no-repeat left top; 
}

/* @end Whtite*/


/* @end Small Button Skin*/


/* @group Large Button Skin */

/* @group Base */

button.large,
a.anchorBtn.large{
	padding: 0 12px 0 0; 
	margin-right:5px;
	font-size:12px; 
	font-weight: bold;
}

button.large span,
a.anchorBtn.large span{
	left: -2px;
	height:14px;
	padding:12px 0 10px 15px;
}

/* the redundant class is used to apply the hover state with a script */
button.large:hover,
a.anchorBtn.large:hover,
button.largeHover { 
	background-position: right -182px; 
	color: #666;
}
	
button.large:hover span,
a.anchorBtn.large:hover span, 
button.largeHover span {
	background-position: 0 -56px;
	color: #666;
}

/* @end Base*/

/* @group White */

button.whiteLarge,
a.anchorBtn.whiteLarge{  
	background: transparent url(/images/clientapp/button_white_large.gif) no-repeat scroll right -110px;
}

button.whiteLarge span,
a.anchorBtn.whiteLarge span {
	background: transparent url(/images/clientapp/button_white_large.gif) no-repeat left top; 
}

/* @end White*/

/* @end Large Button Skin*/
	

/* @end Buttons */

/* @group Title */

.title{ 
	margin-bottom: 20px; 
}

/* @end Title */

/* @group Borders */

.duo-border-top{  border-top: 4px double #dfdfdf; }

.duo-border-bottom{	border-bottom: 4px double #dfdfdf;}

.dashed-border-top{	border-top:  1px dashed #dfdfdf; }

.dashed-border-bottom{	border-bottom:  1px dashed #dfdfdf;	}

.dotted-border-top{	border-top:  1px dotted #dfdfdf; }

.dotted-border-bottom{	border-bottom:  1px dotted #dfdfdf;	}


.border{ border: 1px solid #dfdfdf;	}

.border-top	{	border-top: 1px solid #dfdfdf;}

.border-bottom{ 	border-bottom: 1px solid #dfdfdf; }

.border-left{	border-left: 1px solid #dfdfdf; }

.border-right{	border-right: 1px solid #dfdfdf;}

.border-top-dark	{	border-top: 1px solid #333;}

.border-bottom-dark{ 	border-bottom: 1px solid #333; }

.border-left-dark{	border-left: 1px solid #333; }

.border-right-dark{	border-right: 1px solid #333;}


.rounded-big-border{
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

.rounded-big-border-top{
	-moz-border-radius-topleft: 5px; 
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.rounded-small-border{
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
}

.rounded-small-border-top{
	-moz-border-radius-topleft: 3px; 
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;

}

.border-none{ border: none; }

/* @end Borders*/


/* @group Order */

.horiz-item-right{ margin-right: 20px;}
.horiz-item-rightSmall{ margin-right: 10px;}
.horiz-item-rightSmallest{ margin-right: 5px; }

.horiz-first{ margin-left: 0;}
.horiz-last{ margin-right: 0;}
.verti-first { margin-top: 0;}
.verti-last { margin-bottom: 0;}

/* @end Order */

/* @group Text */

.textCenter {
	text-align: center;
}

.textLeft {
	text-align: left;
}

.textRight {
	text-align: right;
}

a.textUnderline {
	text-decoration: underline;
}

.textNoLine{
	text-decoration: none;
}

.details{
	font-size: 11px;
	color: #666;
}

/* @end Text*/



/* @group Alignment & Positioning */


.alignNone{ 
	float: none;
}

.alignCenter{
	margin: 0 auto;
}

.alignRight {
	float: right;
}

.alignLeft {
	float: left
}

.vAlignTop{
	vertical-align: top;	
}

.vAlignBottom{
	vertical-align: bottom;	
}


.vAlignMiddle{
	vertical-align: middle;	
}

.vAlignTextBottom{
	vertical-align: text-bottom;
}

/* @end Alignment & Positioning */



/* @group Clearing & Displaying*/

.clear{
	overflow: hidden;
}

.clearVisible{
	overflow: visible;
}

.clearBoth{
	clear: both;
}

.clearAuto{
	overflow: auto;
}

.hidden {
	display: none;
}

.setBlock{
	display: block;
}
	
/* @end Clearing & Displaying */


/* @end Helper Styles*/





/*@group Page Structure*/


/* @group General Blocks */

#wrapper-1{ 
	background-color: #f0f0f0;
}

#mast{
	margin-bottom: 20px;
	background: #1C1C1C url(/images/clientapp/mast-ft_bg.png) repeat-x scroll 0 -109px;
	padding-top: 70px;
}

#head{
	height: 40px;
	color: #f0f0f0;
}

#foot{
	margin-top: 20px;
	background: #1C1C1C url(/images/clientapp/mast-ft_bg.png) repeat-x scroll 0 -63px;
	padding: 0px;
	background-image: none; /*just to negate the imge temporarily*/
}

#mast .container_16,
#foot .container_16{
	width: 980px;
}


.contentFlow{
	padding: 0 10px;
}

.sideBlock{ padding: 15px 0;}
.sideBlock .sideBody{  padding: 10px 0 0 0; }

/* @end General Blocks */



/* @group Layout1 */


#layout1 #content{
	background: #fff;
	padding: 20px 10px;
	background-color: #fff;
}

#layout1 #sidebar{

}

/* @end Layout 1*/


/* @group Layout 2 */

#layout2 #content{
	width: 980px;	
}

#layout2 #main{
	background-color: #fff;
	width: auto;	
}

#layout2 #mainWrap{
	width: 700px;
	padding-bottom: 20px;
}

#layout2 #sidebar{
	width: 218px;
}

#layout2 #sectionHead{
	background: #fbfbfb;
	padding: 20px;
}

#layout2 .contentFlow{
	padding: 0 20px;
}

/* @end Layout 2*/



/* @end Page Structure*/

/* @group Page Components */

/* @group Steps */
.steps{ padding-bottom: 5px; }
.steps h4{ padding-top: 5px; }
/* @end Steps */


/* @group Feat */
.feat{ background: transparent url(/images/clientapp/bgFeat.jpg) no-repeat 0 0; min-height: 398px; }
/* @end Feat*/

/* @group GANET Feat */
.ganetFeat{ position: relative; }
.ganetFeat .featPic{ padding: 20px 0 0 20px; width: 417px; }
.ganetFeat .featTxt{ padding: 40px 20px 0; width: 463px;}
.ganetFeat .activateForm{ width: 740px; padding: 20px 20px 20px; margin: 0 auto; position: relative; top:  -20px;}
.ganetFeat .activateForm .existingAdvisorForm{ width: 479px; padding-right: 20px; }
.ganetFeat .activateForm .existingAdvisorForm form{ margin: 10px 0; }
.ganetFeat .activateForm .newAdvisorForm{ width: 220px; padding-left: 20px;}
/* @end GANET Feat */

/* @group Browse More */
.browseMore{ padding: 6px 10px;  border-top: 1px dotted #dfdfdf; border-bottom: 1px dotted #dfdfdf;}
/* @end Browse More */



/* @group Toolbar */

#toolBar{
	background-color:#1A1A1A;
	font-size:11px;
	position:absolute;
	top:0;
	width:100%;
	z-index:100;
}

#toolBar form{ 
	margin: 0;
}

#toolBar table{
	width: 100%;
	table-layout: fixed;
}

#toolBar td{
	padding: 3px 0;
}

#toolBar .leftCell{
	width: 120px;
}

#toolBar .detailsCell{
	width: auto;
	padding-right: 5px;
}

#toolBar .rightCell{
	width: 70px;
}

#toolBar .rightCell button span a{	color: #000;}

/* @end Toolbar*/

/* @group Breadcrumb */

#breadcrumb{
	margin: 15px 0;
	font-size: 11px;
	color: #666;
}

/* @end Breadcrumb */


/* @group Icons */

/* @group Icon Base */

.icon{
	display: block;
	width: 20px;
	height: 20px;
	background: transparent url(/images/clientapp/icons.gif) no-repeat 0px 0px;
}

/* @end Icon Base */

.learnMoreNav .icon{ background-position: 0px -100px; }
.learnMoreNav .icon.active{ background-position: -20px -100px; }

/*footer*/ 
#twitter .icon{	background-position: 0 -340px;}
#newsletterFeed .icon, #gaNews .icon{	background-position: 0 -360px;}
#successIcon{ background-position: 0px -380px;}
#noticeIcon{ background-position: 0px -400px;}
#errorIcon{	background-position: 0px -420px;}

/*Media Library View Types*/
.mediaLibraryFilter .viewTypeThumb{ background-position: 0 -300px; }
.mediaLibraryFilter .viewTypeThumb.active{ background-position: -20px -300px; }

.mediaLibraryFilter .viewTypeList{ background-position: 0 -320px; }
.mediaLibraryFilter .viewTypeList.active{ background-position: -20px -320px; }

/*account profile*/
.acctProfileNav .icon{ background-position: 0px -120px; }
.acctProfileNav .icon.active{ background-position: -20px -120px; }

.acctGenSettingsNav .icon{ background-position: 0px -140px; }
.acctGenSettingsNav .icon.active{ background-position: -20px -140px; }

.acctLoginInfoNav .icon{ background-position: 0px -160px; }
.acctLoginInfoNav .icon.active{ background-position: -20px -160px; }

/*acct. verification*/
.partnerViewStatusAndDocsNav .icon{ background-position: 0px -180px; }
.partnerViewStatusAndDocsNav .icon.active{ background-position: -20px -180px; }

.partnerUploadDocsNav .icon{  background-position: 0px -200px;}
.partnerUploadDocsNav .icon.active{  background-position: -20px -200px;}

/*acct. contacts*/
.acctContactListNav .icon{ background-position: 0px -220px; }
.acctContactListNav .icon.active{ background-position: -20px -220px; }

.acctContactAddNav .icon{ background-position: 0px -240px; }
.acctContactAddtNav .icon.active{ background-position: -20px -240px; }

/*acct. billing*/
.securePaymentNav .icon{ background-position: 0px -440px; }
.securePaymentNav .icon.active{ background-position: -20px -440px; }

/*listings*/ 
.viewAllListingNav .icon{ background-position: 0px -20px; }
.viewAllListingNav .icon.active{ background-position: -20px -20px; }

.createNewListingNav .icon{ background-position: 0px -40px; }
.createNewListingNav .icon.active{ background-position: -20px -40px; }

.viewAllDraftsNav .icon{ background-position: 0px -60px; }
.viewAllDraftsNav .icon.active{ background-position: -20px -60px; }

.viewArchivesNav .icon{ background-position: 0px -80px; }
.viewArchivesNav .icon.active{ background-position: -20px -80px; }

/*Help*/
.learnMoreNav2 .icon{ background-position: 0px -460px; }
.learnMoreNav2 .icon.active{ background-position: -20px -460px; }

.ticketNav2 .icon{ background-position: 0px -480px; }
.ticketNav2 .icon.active{ background-position: -20px -480px; }

/*blog*/
.createBlogEntryNav .icon{ background-position: 0px -500px; }
.createBlogEntryNav .icon.active{ background-position: -20px -500px; }

.viewPublishedEntriesNav .icon{ background-position: 0px -520px; }
.viewPublishedEntriesNav .icon.active{ background-position: -20px -520px; }

.viewBlogEntryDraftsNav .icon{ background-position: 0px -540px; }
.viewBlogEntryDraftsNav .icon.active{ background-position: -20px -540px; }

.importBlogNav .icon{ background-position: 0px -560px; }
.importBlogNav .icon.active{ background-position: -20px -560px; }



/* @end Icon Base*/


/* @group Colophon */

#colophon{
	padding: 7px 0 15px;	
	background-color: #1c1c1c;
}

#colophon p{
	font-size: 11px;
	margin: 0;
	line-height: 1.6em;
	padding: 3px 0 0 1px;
}

#colophon .blockLinks{
	padding-top: 19px;
}

#colophon .blockLinks a{
	margin-left: 10px;
}

#colophon .blockLinks .text{
	padding-left: 25px;
	padding-top: 2px;
}


/* @end Colophon*/

/* @group Profile */

#profile{ height: auto;}

#logoWrap{ position: relative;	margin: 0 auto; overflow: hidden;}
#logoWrap a{ bottom:2px;position:absolute;right:2px;display:block;height:15px;width:15px; padding:5px;}

/* @end Profile */

/* @group Tabs */

.tab li{
	float: left;
	margin: 0 5px 0 0;
}


.tab li.horiz-last{
	margin-right: 0;
}

.tab a{
	padding:0.9em 1.25em;
	font-weight: bold;	
	display: block;
}

/* @end Tabs */



/* @group Pagination */

.pagination{ font-size: 12px; padding: 15px 0; }

.pagination .pages{	color: #888;}

.pagination span, .pagination strong{ display:block; float:left; padding:0 4px;	font-size: 12px;}
.pagination .first, .pagination .previous, .pagination .next, .pagination .last{ background:transparent url(/images/clientapp/arrows.gif) no-repeat scroll 0 0;	}


.pages .pageLink, .pages .pageLinkSelected{	margin-right: 5px;	-moz-border-radius: 7px; -webkit-border-radius: 7px; float: left;}
	
.pages .pageLink:hover, .pages .pageLinkSelected{
	background-color: #e0e0e0;
}

.pages strong{	color:#333333; }

.pages span.first{	background-position:left -550px; }
.pages .first{ background-position:left -450px; border-right:1px solid #cfcfcf; }

.pages span.previous {	background-position:left -250px; }
.pages .previous{	background-position:left -150px;	border-right:1px solid #cfcfcf;	}

.pages span.next{background-position:right -50px; }
.pages .next{	background-position:right 0px;	border-left:1px solid #cfcfcf;}

.pages span.last{	background-position:right -350px; }
.pages .last{	background-position:right -300px; border-left:1px solid #cfcfcf;}

.pages .first, .pages .previous, .pages .next, .pages .last, .pages a.pageLink, .pages .pageLinkSelected{	padding: 2px 6px;}

.pages .first, .pages .previous{ padding-left: 12px; margin-right: 5px; }
.pages .next, .pages .last{	padding-right: 12px; margin-left: 5px;}

.pagination .selectLabel{	margin: 0 0 0 5px;}


/* @end Pagination */

/* @group Dialog Box */

/* @group Overlay */

#overlayScreen{
	/*height: 2000px; /*should be inserted inline tru script*/
	/*width: 2000px; /*should be inserted inline tru script*/
	background: transparent url(/images/clientapp/whiteopacity.png) repeat scroll 0 0;	
	position: absolute;
	top: 0px;
	z-index: 200;	
}

/* @end Overlay */

/* @group Base & Sizes */

#dialogBox{
	height: auto;
	padding: 15px;
	background-color: #fff;
}

#dialogBox.wide{
	width: 607px;
}

#dialogBox.medium{
	width: 460px;
}


#dialogBox.narrow{
	width: 380px;
}

/* @end Base & Sizes*/

/* @group Blocks */

#dialogBox .head{
	padding-bottom: 10px;
}

#dialogBox .actions{
	padding-top: 10px;;
}

/* @end Blocks */

/* @group Lining & Shadows  */

#dialogWrapper{
	padding: 5px;					
	background: transparent url(/images/clientapp/blackopacity.png) repeat scroll 0 0;
	filter: alpha(opacity=50);
}

#dialogEffects{
	position: absolute; 
	z-index: 300;
	/*top: 200px; /*should be inserted inline tru script*/
	/*left: 300px; /*should be inserted inline tru script*/
}

#dialogEffects .corner,
#dialogEffects #left,
#dialogEffects #right,
#dialogEffects #top,
#dialogEffects #bottom{
	text-indent: -9999px;
}


#dialogEffects .corner,
#dialogEffects #left,
#dialogEffects #right{
	width: 40px;
}

#dialogEffects .corner,
#dialogEffects #top,
#dialogEffects #bottom{
	height: 40px;
}

#dialogEffects #top{
	background: transparent url(/images/clientapp/dialogFxTop.png) repeat-x scroll 0 10px;
}

#dialogEffects #topLeft{
	background: transparent url(/images/clientapp/dialogFxTopLeft.png) no-repeat scroll 10px 0;
}

#dialogEffects #topRight{
	background: transparent url(/images/clientapp/dialogFxTopRight.png) no-repeat scroll 0px 10px;
}

#dialogEffects #left{
	background: transparent url(/images/clientapp/dialogFxLeft.png) repeat-y scroll 10px 0;
}

#dialogEffects #right{
	background: transparent url(/images/clientapp/dialogFxRight.png) repeat-y scroll -10px 0;
}

#dialogEffects #bottom{
	background: transparent url(/images/clientapp/dialogFxBottom.png) repeat-x scroll 0 -10px;
}

#dialogEffects #bottomLeft{
	background: transparent url(/images/clientapp/dialogFxBottomLeft.png) no-repeat scroll 10px -10px;
}

#dialogEffects #bottomRight{
	background: transparent url(/images/clientapp/dialogFxBottomRight.png) no-repeat scroll -5px -10px;
}

/* @end Lining & Shadows */

#dialogBox .tab{ 
	margin: 0;
}

/* @end Dialog Box */

/* @group Navigation */


/* @group Main Nav */


#main_nav{
	padding-top: 8px;
	margin: 0;
}

#main_nav a{
	height: 12px;
	font-size: 12px;
	background-color: #2a2a2a;
	color: #fff;
	float: left;
}

#main_nav a:hover {
	background-color: #404040;
	color: #888;	
}

#main_nav a.selected{
	background-color: #f0f0f0;
	color: #000;		
}

#main_nav #help{
	background-color: #00481d;
	color: #fff;
}

#main_nav #help.selected{
	background-color: #f0f0f0;	
	color: #057e36;
}

/* @end Main Nav */


/* @group Sub Nav */


#subnav{ 
	margin: 20px 0 0;
}

/* Extending Popup Tabs */
#subnav,
#dialogBox.withTab .head{
	background: transparent url(/images/clientapp/subnav_bg.gif) repeat-x scroll 0 -9px;
}

#subnav .tab{
	margin: 0;
	padding: 0 10px;
}

/* Extending Popup Tabs */
#subnav li a, 
#dialogBox .tab li a{
	font-size: 11px;
	border-bottom: 1px solid #c8c8c8;
	background-color: #f8f8f8;
	padding: 9px 13px;
}

/* Extending Popup Tabs */
#subnav li a:hover, 
#dialogBox .tab li a:hover{
	background-color: #f9f9f9;
	color: #666;
}

/* Extending Popup Tabs */
#subnav li a.selected, 
#subnav li a.selected:hover,
#dialogBox .tab li a.active,
#dialogBox .tab li a.active:hover{
	border-bottom: 1px solid #fff;
	background-color: #fff;
	color: #000;	
}

/* @end Sub Nav */



/* @group Side Navigation */

#sidenav{
	/*margin: 10px 0 20px;*/
	margin: 0;
}

#sidenav li{
	margin: 0 0 10px 0;
}

#sidenav p{
	padding: 2px 0 0 25px;
}

#sidenav .active{
	color: #666;
}

/* @end Side Navigation */

/* @end Navigation */

/* @group Media Library */

/* @group Filter */
.mediaLibraryFilter .filter{ font-size: 11px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #F0F0F0;	padding: 4px 6px; display: block; margin: 0 5px; font-weight: normal; line-height: 1;}

.mediaLibraryFilter .filter:hover,
.mediaLibraryFilter .selected,
.mediaLibraryFilter .selected:hover{ background-color: #cfcfcf;	color: #333;}
.mediaLibraryFilter .selected{ color: #333; font-weight: bold; }

.mediaLibraryFilter .viewTypeThumb,.mediaLibraryFilter .viewTypeList{ float: right; margin: 0 7px; text-indent: -9999px;}
/* @end Filter */



/* @group Views */
table.mediaLibrary td{ padding: 10px 0px; border: none;}

.mediaLibrary .mediaGroup{ margin: 0px 0 20px; padding-bottom: 10px; }
.mediaLibrary .mediaGroup .groupLabel .counter{ font-weight: normal; font-size: 12px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background-color: #cfcfcf; padding: 1px 6px; }
.mediaLibrary .thumbGallery .cell{ width: 25%; padding: 15px 0; border: none;}
.mediaLibrary .thumbGallery .cell img{ padding: 5px; border: 1px solid #dfdfdf; background-color: #fff; border-bottom-color: #bfbfbf; }
.mediaLibrary .thumbGallery .cell a:hover img{ border: 1px solid #E78B1B; background-color: #FDC461; -moz-border-radius: 3px;}
.mediaLibrary .thumbGallery .cell .thumbDetails{ font-size: 11px; line-height: 1.4em; color: #999; padding: 5px 17px 0; text-align: left; }
.mediaLibrary .thumbGallery .cell .thumbDetails .thumbTitle{ display: block; color: #666;}

.mediaViewModeIndexer{ padding: 6px 10px 0 8px; margin: 0; font-weight: normal;}
.mediaCanvas{ padding: 3px 0 20px; }
/* @end Views */


/* @end Media Library */

/* @group Popup Media List + Filter */
.mediaListFilter { padding: 0 5px; border-bottom-color: #bfbfbf; margin-bottom: 20px;}
.mediaListFilter .filtersList{ margin:0; padding-top: 5px; color: #666; font-size: 11px;}
.mediaListFilter .filtersList .filter{ margin: 0 10px; }
.mediaListFilter .filtersList .selected{ color: #000; font-weight: bold;}
.mediaListFilter .quickSearch{ width: auto; margin: 0; position: relative;}
.mediaListFilter .quickSearch input{ margin: 0;}
.mediaListFilter .quickSearch input.txtBox,
.mediaListFilter .quickSearch input.Btn{
	position: relative
}
.mediaListFilter .quickSearch input.txtBox{width:110px; padding-right: 25px;}
.mediaListFilter .quickSearch button{ height: 16px; width: 16px; background: #fff url(/images/clientapp/search_icon.gif) no-repeat 0px 0px; text-indent: -9999px; position: absolute; top: 5px; right: 5px;}

.mediaList{ margin: 0; height: 480px; overflow: auto;}
.mediaList li{ padding:10px 0; }
.mediaList li.selected{ background-color: #f8f8f8; }
.mediaList .thumb,
.mediaList .checkThis{ margin-right: 10px; }
.mediaList .mediaDetails { width: 340px; }
.mediaList .mediaDetails p{ margin: 0; }
.mediaList .mediaDetails .mediaCaption{ font-size: 11px; }  	

/* @end Popup Media List + Filter */

/* @group Verification Notice */
.verificationNotice .head p{ font-size: 11px;} 
.verificationNotice .statusBody{ margin: 10px 0 0;  }
.verificationNotice .statusLabel{ width: 150px;} 
.verificationNotice .statusDetailsBlock{ padding-left: 160px;}  
.verificationNotice .statusDetailsBlock .details{ margin-top: 10px;	margin-bottom: 10px; color: #666;}
.verificationNotice .statusDetailsBlock .details p{ font-size: 11px;}
.verificationNotice .statusDetailsBlock .actions{ 	padding: 7px 0 0;}
.verificationNotice .statusDetailsBlock .actions p{ padding: 6px 0 0 9px; font-size: 11px;}
.verificationNotice .statusDetailsBlock .actions p a{ font-size: 11px; margin:0;}
/* @end */

/* @group Contacts */
.contactList{ width: 100%; }
.contactList .contactGroup, .contactList .contactCell{ border: none; padding: 5px 0 0 0; }
.contactList .contactCell{ width: 50%; padding: 20px 10px 0px;}
.contactList .contactCell.alpha{ padding-left: 0px; }
.contactList .contactCell.omega{ padding-right: 0px; }
.contactList .contactCell a.cellAnchor{ background-color: #f8f8f8; height: auto; color: #333; text-decoration: none; font-size: 11px; padding: 10px; border: 1px solid #dfdfdf; border-bottom-color: #bfbfbf; display: block;}
.contactList .cellHead{ line-height: 1.4em; }
.contactList .cellHead .contactThumb, .contactThumb{ float: left; margin: 0 7px 7px 0; }
.contactList .cellHead .contactName{ font-size:12px; font-weight: bold; }
.contactList .cellHead .contactPosition{ font-style: italic;}
.contactList .cellBody{ clear: both;line-height:1.4em; padding-top: 5px;}
.contactList .cellBody .cellBodyLine{ padding: 5px 0; }
.contactList .contactCell a.cellAnchor:hover{border-color:#a0a0a0/*#E78B1B*/; text-decoration: none; }
.contactList .contactCellInner{ position: relative;}
.contactList .xBox{ position: absolute; top: -15px; right: -15px; display: block; width: 30px; height: 30px;}
/* @end Contact List */

/* @group Group Label - Used in as head for expanding group contents */
.mediaGroup h5.groupLabel,
.contactGroup h5.groupLabel{ padding: 10px 0;  }
/*@ end Group Label */


.mediaGroup h5.groupLabel a,
.contactGroup h5.groupLabel a{color: #333;}
/* @end Group Label */

/* @group Knowledge Base */

/* @group KB Index */
.kBaseDirectory{ margin: 0px 0 15px; }
.kBaseDirectory .thumb {width: 50px;}
.kBaseDirectory p{ margin: 0; width: 170px; }
/* @end KB Index */

.kbaseBlock{ margin-bottom: 40px; }

/* @end Knowledge Base */


/* @group Grid4 Widget */
.grid4Widget{ background:transparent url(/images/clientapp/grid4Bg.gif) no-repeat scroll 0 0; min-height: 200px; padding: 20px;}
.grid4Widget .head{ font-size: 12px; line-height: 1.4em;}
/* @end Grid4 Widget */


/* @group Item Listing - Used for General Lists */
.itemListing{ margin: 0; }
.itemListing .item{ padding: 15px 0; margin: 0; }
.itemListing .item .text{ padding: 5px 0; }
/* @end Item Listing */

/* @group Box Module (Gray box) */
.boxModule{ padding: 15px; background-color: #f8f8f8;}
.boxModule form{ margin: 0; }
.boxModule .emphasizeMore{ padding: 7px; background-color: #f0f0f0; margin: 15px 0;}
.boxModule .emphasizeMore p{ margin: 0; }
/* @end Box Module*/

/* @group Photo Instance */
.photoInstance{ margin: 10px 0; }
.photoInstance .thumb{ width: 65px; margin-right: 13px; }
.photoInstance .photoDetails{ width: 590px; font-size: 12px; line-height: 1.4em;}
.photoInstance .photoDetails .head{ padding:  7px 0; }
.photoInstance .txtArea{ width: 578px; height: 60px; margin: 10px 0;}

.layoutItem label{ margin: 0; line-height: 24px;}
.layoutSelector{ margin: 0; padding: 0 20px; }
.layoutSelector li{ float: left; margin: 0 5px;  width: 100px; padding: 0 0 1px 0;}
.layoutSelector li .layoutName{ margin: 0 5px; }

/* @end layoutInstance*/

/* @group Client Logo */
form#client_logo{ margin-bottom: 0; }
form#client_logo .item{ padding: 0; }
/* @end Client Logo */

/* @end Page Components */




/* @group Overrides */


/* @group Grid Overrides */
.container_16 form.withCues .grid_6{ width: 330px; }
.container_12 form.withCues .grid_3, .container_16 form.withCues .grid_4{ width: 213px; }
.container_16 .grid_4.grid4Widget{ width: 180px;  }
/* @end Grid Overrides */
/* @group Knowledge Base Search */
.searchKbase{ margin: 0; }
.searchKbase .item{ padding: 5px 0; }
.searchKbase .txtBox{ width: 168px; }
.searchKbase .selectBox{ width: 180px; }
.searchKbase button{ left: -2px; }
/* @end */

/* @group Section Head */

#sectionHead table{
	width: 700px;	
}

#sectionHead td.leftCell{
	width: 80%;	
}

#sectionHead td.rightCell{
	width: auto;
	text-align: right;
}

#sectionHead h3{
	font-weight: bold;
}

#sectionHead p{
	color: #888;
	margin: 0;
}

/* @end Section Head*/



/* @group Mast */
#toolBar #currentlyLogged{
	color: #949494;
}

#toolBar .container_16{
	width: 980px;
}

#toolBar button{
	margin-right: 0;
}


/* @end */

/* @group Foot & Colophon */
#foot h6{
	color: #949494;
}

#foot p{
	color: #444;
}

#colophon .grid_15{
	width: 920px;
}

#colophon .grid_6{
	width: 380px;
}

#subscribeForm{
	margin: 12px 0 0;
}

#subscribeForm .txtBox{
	border-color: #000;
	margin: 0 5px 0 0;
	position: relative;
	top:  0px;
	width: 270px;
}

#features{ display: none; }
#features .omega{ width: 380px; }
#features .omega p{ margin-top: 7px; }

/* @end Colophon */

/* @group Blog */
#blogImport .externalBlogLink{ font-size: 14px	; }
#blogImport .actions{ margin-top: 20px; padding-bottom: 0px; }
/* @end Blog */

/* @end Overrides */