/*
	MULTI SELECT PLUGIN Style
	Lance Quejada
	v1.0	
*/



/* @group Multi-Select */
.multiSelect{ position: relative; }

.multiSelect .content{ 
	border-width: 1px;
	border-style: solid;
	border-color: #dfdfdf #dfdfdf #cfcfcf #dfdfdf;
	padding: 5px; 
	overflow: auto;
	height: 200px;
	position: relative;

}


.multiSelect .multiItemLayout2{ width: 100%; margin: 0; padding: 0; overflow: visible;}
.multiSelect .multiItemLayout2 li{ width: 31%; padding: 6px; vertical-align: text-bottom; border: 1px solid #fff; border-collapse: separate; margin: 0; float: left;}
.multiSelect .multiItemLayout2 li.emphasize{ background-color: #ffffdf; }
.multiSelect .multiItemLayout2 li label{ margin: 0; font-weight: normal; font-size: 11px; line-height: 1.4em; display: block;}
#dContent .multiSelect .multiItemLayout2 li label span { float: right; margin-left: 5px; width: 105px; }
.multiSelect .multiItemLayout2 li label .highlight{ background-color: #E5F2FF; font-weight: bold; }




.multiSelect .controls{ 
	background-color: #f0f0f0; 
	padding: 6px; 
	font-size: 11px; 
	border-color:#f8f8f8 #DFDFDF #BFBFBF; 
	border-width: 1px; 
	border-style: solid;
}

.multiSelect .controls label{ margin: 0; }
.multiSelect .controls .label{ margin: 0 7px 0 0; }

.multiSelect .actCtrls{ line-height: 24px; width: 250px;}
#programAttributeList .multiSelect .searchCtrls { top:7px; }
.multiSelect .searchCtrls { position: relative; width: 269px;}
.searchCtrls { position: relative; }
.multiSelect .searchCtrls input, 
.searchCtrls input { border: 1px solid #bfbfbf; padding: 3px 24px 3px 3px; width: 150px;  height: 14px;}
.multiSelect .searchCtrls .clearTxtBox, 
.searchCtrls .clearMediaTxtBox { position: absolute; right: 7px; top:  3px; }
#multiSelect_photo .searchCtrls { top: 7px; }
#multiSelect_photo .searchCtrls input { width: 140px;}

.multiSelect .controls .actLink{ 
	padding: 2px 4px;
	margin: 0 5px;
}

.multiSelect .controls .actLink:hover,
.multiSelect .controls .actLink.active,
.multiSelect .controls .actLink.active:hover{ 
	background-color: #333;
	color: #f0f0f0;
}

.multiSelect .expandControl { 
	display: block;
	position: absolute;
	bottom: -12px;
	left: 45%;
	cursor: move;
}

.multiSelect .expandControl img{ display: block;} 

/* @end Multi-Select */

/* @group Overrides */

* html .multiSelect{ height: 1%; }
* html .multiSelect .content{ height: 200px; overflow: auto !important; position: relative;}
*+html .multiSelect .multiItemLayout td label input{ position: static;}

/* @end */


#multiSelect_photo li { float: none; width: 90%; }

#multiSelect_photo .content .multiItemLayout2 li { clear: both; }
#multiSelect_photo .content .multiItemLayout2 li input.checkBox { float: left; }
#multiSelect_photo .content .multiItemLayout2 li label span { width: auto; float: left; }
#content .contactList.c4 .ccol { width: 25%; }
#content .contactList.c3 .ccol { width: 33.33%; }
